* text=auto !eol
ForXCode6/HWSensors.xcodeproj/project.pbxproj -text
ForXCode6/HWSensors.xcodeproj/project.xcworkspace/contents.xcworkspacedata -text
ForXCode6/HWSensors.xcodeproj/project.xcworkspace/xcuserdata/slice.xcuserdatad/UserInterfaceState.xcuserstate -text
ForXCode6/HWSensors.xcodeproj/xcshareddata/xcschemes/ACPIMonitor.xcscheme -text
ForXCode6/HWSensors.xcodeproj/xcshareddata/xcschemes/ADT7470.xcscheme -text
ForXCode6/HWSensors.xcodeproj/xcshareddata/xcschemes/AmdCPUMonitor.xcscheme -text
ForXCode6/HWSensors.xcodeproj/xcshareddata/xcschemes/Andigilog.xcscheme -text
ForXCode6/HWSensors.xcodeproj/xcshareddata/xcschemes/F718x.xcscheme -text
ForXCode6/HWSensors.xcodeproj/xcshareddata/xcschemes/FakeSMC.xcscheme -text
ForXCode6/HWSensors.xcodeproj/xcshareddata/xcschemes/GeforceSensor.xcscheme -text
ForXCode6/HWSensors.xcodeproj/xcshareddata/xcschemes/HWInfo.xcscheme -text
ForXCode6/HWSensors.xcodeproj/xcshareddata/xcschemes/ICHSMBus.xcscheme -text
ForXCode6/HWSensors.xcodeproj/xcshareddata/xcschemes/IT87x.xcscheme -text
ForXCode6/HWSensors.xcodeproj/xcshareddata/xcschemes/IntelCPUMonitor.xcscheme -text
ForXCode6/HWSensors.xcodeproj/xcshareddata/xcschemes/NVClockX.xcscheme -text
ForXCode6/HWSensors.xcodeproj/xcshareddata/xcschemes/PC8739x.xcscheme -text
ForXCode6/HWSensors.xcodeproj/xcshareddata/xcschemes/RadeonMonitor.xcscheme -text
ForXCode6/HWSensors.xcodeproj/xcshareddata/xcschemes/SMIMonitor.xcscheme -text
ForXCode6/HWSensors.xcodeproj/xcshareddata/xcschemes/W836x.xcscheme -text
ForXCode6/HWSensors.xcodeproj/xcshareddata/xcschemes/X3100.xcscheme -text
ForXCode6/HWSensors.xcodeproj/xcshareddata/xcschemes/xcschememanagement.plist -text
HWSensors.xcodeproj/project.pbxproj -text
HWSensors.xcodeproj/project.xcworkspace svn_global_002dignores=xcuserdata%0A
HWSensors.xcodeproj/project.xcworkspace/contents.xcworkspacedata -text
HWSensors.xcodeproj/project.xcworkspace/xcuserdata/slice.xcuserdatad/UserInterfaceState.xcuserstate -text
HWSensors.xcodeproj/xcshareddata/xcschemes/ACPIMonitor.xcscheme -text
HWSensors.xcodeproj/xcshareddata/xcschemes/ADT7470.xcscheme -text
HWSensors.xcodeproj/xcshareddata/xcschemes/AmdCPUMonitor.xcscheme -text
HWSensors.xcodeproj/xcshareddata/xcschemes/Andigilog.xcscheme -text
HWSensors.xcodeproj/xcshareddata/xcschemes/DIMMSensor.xcscheme -text
HWSensors.xcodeproj/xcshareddata/xcschemes/F718x.xcscheme -text
HWSensors.xcodeproj/xcshareddata/xcschemes/FakeSMC.xcscheme -text
HWSensors.xcodeproj/xcshareddata/xcschemes/GeforceSensor.xcscheme -text
HWSensors.xcodeproj/xcshareddata/xcschemes/HWInfo.xcscheme -text
HWSensors.xcodeproj/xcshareddata/xcschemes/ICHSMBus.xcscheme -text
HWSensors.xcodeproj/xcshareddata/xcschemes/IT87x.xcscheme -text
HWSensors.xcodeproj/xcshareddata/xcschemes/IntelCPUMonitor.xcscheme -text
HWSensors.xcodeproj/xcshareddata/xcschemes/NVClockX.xcscheme -text
HWSensors.xcodeproj/xcshareddata/xcschemes/PC8739x.xcscheme -text
HWSensors.xcodeproj/xcshareddata/xcschemes/RadeonMonitor.xcscheme -text
HWSensors.xcodeproj/xcshareddata/xcschemes/SMIMonitor.xcscheme -text
HWSensors.xcodeproj/xcshareddata/xcschemes/VoodooBatterySMC.xcscheme -text
HWSensors.xcodeproj/xcshareddata/xcschemes/W836x.xcscheme -text
HWSensors.xcodeproj/xcshareddata/xcschemes/X3100.xcscheme -text
HWSensors.xcodeproj/xcshareddata/xcschemes/xcschememanagement.plist -text
fakesmc/FakeSMC-Info.plist -text
fakesmc/FakeSMC-pre106-info.plist -text
fakesmc/FakeSMC.cpp -text
fakesmc/FakeSMC.h -text
fakesmc/FakeSMCDevice.cpp -text
fakesmc/FakeSMCDevice.h -text
fakesmc/FakeSMCKey.cpp -text
fakesmc/FakeSMCKey.h -text
hwmonitor/AppDelegate.h -text
hwmonitor/AppDelegate.m -text
hwmonitor/English.lproj/Credits.rtf -text
hwmonitor/English.lproj/InfoPlist.strings -text
hwmonitor/English.lproj/Localizable.strings -text
hwmonitor/English.lproj/MainMenu.xib -text
hwmonitor/English.lproj/default.icns -text
hwmonitor/HWMonitorSMC-Info.plist -text
hwmonitor/HWMonitorSMC.xcodeproj/project.pbxproj -text
hwmonitor/HWMonitorSMC.xcodeproj/project.xcworkspace svn_global_002dignores=xcuserdata%0A
hwmonitor/HWMonitorSMC.xcodeproj/project.xcworkspace/contents.xcworkspacedata -text
hwmonitor/HWMonitorSMC.xcodeproj/project.xcworkspace/xcuserdata/slice.xcuserdatad/UserInterfaceState.xcuserstate -text
hwmonitor/HWMonitorSMC.xcodeproj/xcshareddata/xcschemes/HWMonitorSMC.xcscheme -text
hwmonitor/HWMonitorSMC.xcodeproj/xcshareddata/xcschemes/xcschememanagement.plist -text
hwmonitor/HWMonitorSMC_Prefix.pch -text
hwmonitor/HWMonitorSensor.h -text
hwmonitor/HWMonitorSensor.m -text
hwmonitor/IOBatteryStatus.h -text
hwmonitor/IOBatteryStatus.m -text
hwmonitor/ISPSmartController.h -text
hwmonitor/ISPSmartController.m -text
hwmonitor/NSString+TruncateToWidth.h -text
hwmonitor/NSString+TruncateToWidth.m -text
hwmonitor/default.icns -text
hwmonitor/fan_small.png -text
hwmonitor/freq_small.png -text
hwmonitor/hd_small.png -text
hwmonitor/main.m -text
hwmonitor/modern-battery-icon.png -text
hwmonitor/monitor-icon.icns -text
hwmonitor/monitor_icon_small.png -text
hwmonitor/multiply_small.png -text
hwmonitor/ru.lproj/Localizable.strings -text
hwmonitor/ru.lproj/MainMenu.xib -text
hwmonitor/smc.c -text
hwmonitor/smc.h -text
hwmonitor/ssd_small.png -text
hwmonitor/temp_alt_small.png -text
hwmonitor/temperature_small.png -text
hwmonitor/temperature_small_dark.png -text
hwmonitor/temperature_small_grey.png -text
hwmonitor/voltage_small.png -text
hwmonitor2/HWMonitorSMC.xcodeproj svn_global_002dignores=xcuserdata%0A
hwmonitor2/HWMonitorSMC.xcodeproj/project.pbxproj -text
hwmonitor2/HWMonitorSMC.xcodeproj/project.xcworkspace/contents.xcworkspacedata -text
hwmonitor2/HWMonitorSMC.xcodeproj/project.xcworkspace/xcuserdata/vectorsigma.xcuserdatad/UserInterfaceState.xcuserstate -text
hwmonitor2/HWMonitorSMC.xcodeproj/xcuserdata/vectorsigma.xcuserdatad/xcschemes/xcschememanagement.plist -text
hwmonitor2/HWMonitorSMC/AppDelegate.swift -text
hwmonitor2/HWMonitorSMC/Assets.xcassets/AppIcon.appiconset/Contents.json -text
hwmonitor2/HWMonitorSMC/Assets.xcassets/AppIcon.appiconset/icon_128x128.png -text
hwmonitor2/HWMonitorSMC/Assets.xcassets/AppIcon.appiconset/icon_128x128@2x.png -text
hwmonitor2/HWMonitorSMC/Assets.xcassets/AppIcon.appiconset/icon_16x16.png -text
hwmonitor2/HWMonitorSMC/Assets.xcassets/AppIcon.appiconset/icon_16x16@2x.png -text
hwmonitor2/HWMonitorSMC/Assets.xcassets/AppIcon.appiconset/icon_256x256.png -text
hwmonitor2/HWMonitorSMC/Assets.xcassets/AppIcon.appiconset/icon_256x256@2x.png -text
hwmonitor2/HWMonitorSMC/Assets.xcassets/AppIcon.appiconset/icon_32x32.png -text
hwmonitor2/HWMonitorSMC/Assets.xcassets/AppIcon.appiconset/icon_32x32@2x.png -text
hwmonitor2/HWMonitorSMC/Assets.xcassets/AppIcon.appiconset/icon_512x512.png -text
hwmonitor2/HWMonitorSMC/Assets.xcassets/AppIcon.appiconset/icon_512x512@2x.png -text
hwmonitor2/HWMonitorSMC/Base.lproj/Main.storyboard -text
hwmonitor2/HWMonitorSMC/Base.lproj/Popover.storyboard -text
hwmonitor2/HWMonitorSMC/Base.lproj/Preferences.storyboard -text
hwmonitor2/HWMonitorSMC/Framenworks/SystemKit.framework/Headers -text
hwmonitor2/HWMonitorSMC/Framenworks/SystemKit.framework/Modules -text
hwmonitor2/HWMonitorSMC/Framenworks/SystemKit.framework/Resources -text
hwmonitor2/HWMonitorSMC/Framenworks/SystemKit.framework/SystemKit -text
hwmonitor2/HWMonitorSMC/Framenworks/SystemKit.framework/Versions/A/Headers/SystemKit-Swift.h -text
hwmonitor2/HWMonitorSMC/Framenworks/SystemKit.framework/Versions/A/Headers/SystemKit.h -text
hwmonitor2/HWMonitorSMC/Framenworks/SystemKit.framework/Versions/A/Modules/SystemKit.swiftmodule/x86_64.swiftdoc -text
hwmonitor2/HWMonitorSMC/Framenworks/SystemKit.framework/Versions/A/Modules/SystemKit.swiftmodule/x86_64.swiftmodule -text
hwmonitor2/HWMonitorSMC/Framenworks/SystemKit.framework/Versions/A/Modules/module.modulemap -text
hwmonitor2/HWMonitorSMC/Framenworks/SystemKit.framework/Versions/A/Resources/Info.plist -text
hwmonitor2/HWMonitorSMC/Framenworks/SystemKit.framework/Versions/A/SystemKit -text
hwmonitor2/HWMonitorSMC/Framenworks/SystemKit.framework/Versions/Current -text
hwmonitor2/HWMonitorSMC/HWMonitorSMC.entitlements -text
hwmonitor2/HWMonitorSMC/HWOulineView.swift -text
hwmonitor2/HWMonitorSMC/HWScrollView.swift -text
hwmonitor2/HWMonitorSMC/HWTableRowView.swift -text
hwmonitor2/HWMonitorSMC/HWTreeNode.swift -text
hwmonitor2/HWMonitorSMC/HWViewController.swift -text
hwmonitor2/HWMonitorSMC/HWWindow.swift -text
hwmonitor2/HWMonitorSMC/HWWindowController.swift -text
hwmonitor2/HWMonitorSMC/Images/checkbox.png -text
hwmonitor2/HWMonitorSMC/Images/cpu_freq_small.png -text
hwmonitor2/HWMonitorSMC/Images/cpu_temp_small.png -text
hwmonitor2/HWMonitorSMC/Images/fan_small.png -text
hwmonitor2/HWMonitorSMC/Images/freq_small.png -text
hwmonitor2/HWMonitorSMC/Images/hd_small.png -text
hwmonitor2/HWMonitorSMC/Images/modern-battery-icon.png -text
hwmonitor2/HWMonitorSMC/Images/multiply_small.png -text
hwmonitor2/HWMonitorSMC/Images/pin.png -text
hwmonitor2/HWMonitorSMC/Images/ram_small.png -text
hwmonitor2/HWMonitorSMC/Images/ssd_small.png -text
hwmonitor2/HWMonitorSMC/Images/temp_alt_small.png -text
hwmonitor2/HWMonitorSMC/Images/temperature_small.png -text
hwmonitor2/HWMonitorSMC/Images/voltage_small.png -text
hwmonitor2/HWMonitorSMC/Info.plist -text
hwmonitor2/HWMonitorSMC/Info.storyboard -text
hwmonitor2/HWMonitorSMC/PopoverViewController.swift -text
hwmonitor2/HWMonitorSMC/PopoverWindowController.swift -text
hwmonitor2/HWMonitorSMC/PreferencesVC.swift -text
hwmonitor2/HWMonitorSMC/PreferencesWC.swift -text
hwmonitor2/HWMonitorSMC/RunAtLogin.swift -text
hwmonitor2/HWMonitorSMC/SMART/HWSMART.swift -text
hwmonitor2/HWMonitorSMC/SMART/NVMe.h -text
hwmonitor2/HWMonitorSMC/SMC/HWImageView.h -text
hwmonitor2/HWMonitorSMC/SMC/HWImageView.m -text
hwmonitor2/HWMonitorSMC/SMC/HWMonitorSMC-Bridging-Header.h -text
hwmonitor2/HWMonitorSMC/SMC/HWMonitorSensor.h -text
hwmonitor2/HWMonitorSMC/SMC/HWMonitorSensor.m -text
hwmonitor2/HWMonitorSMC/SMC/HWSensorsDelegate.h -text
hwmonitor2/HWMonitorSMC/SMC/HWSensorsDelegate.m -text
hwmonitor2/HWMonitorSMC/SMC/HWTextField.h -text
hwmonitor2/HWMonitorSMC/SMC/HWTextField.m -text
hwmonitor2/HWMonitorSMC/SMC/IOBatteryStatus.h -text
hwmonitor2/HWMonitorSMC/SMC/IOBatteryStatus.m -text
hwmonitor2/HWMonitorSMC/SMC/NSString+TruncateToWidth.h -text
hwmonitor2/HWMonitorSMC/SMC/NSString+TruncateToWidth.m -text
hwmonitor2/HWMonitorSMC/SMC/SSMemoryInfo.h -text
hwmonitor2/HWMonitorSMC/SMC/SSMemoryInfo.m -text
hwmonitor2/HWMonitorSMC/SMC/smc.c -text
hwmonitor2/HWMonitorSMC/SMC/smc.h -text
hwmonitor2/HWMonitorSMC/ViewController.swift -text
hwmonitor2/HWMonitorSMC/de.lproj/DetachableWindow.storyboard -text
hwmonitor2/HWMonitorSMC/de.lproj/Localizable.strings -text
hwmonitor2/HWMonitorSMC/de.lproj/Main.storyboard -text
hwmonitor2/HWMonitorSMC/de.lproj/Main.strings -text
hwmonitor2/HWMonitorSMC/de.lproj/Popover.storyboard -text
hwmonitor2/HWMonitorSMC/de.lproj/Popover.strings -text
hwmonitor2/HWMonitorSMC/de.lproj/Preferences.storyboard -text
hwmonitor2/HWMonitorSMC/de.lproj/Preferences.strings -text
hwmonitor2/HWMonitorSMC/en.lproj/DetachableWindow.storyboard -text
hwmonitor2/HWMonitorSMC/en.lproj/Localizable.strings -text
hwmonitor2/HWMonitorSMC/en.lproj/Main.strings -text
hwmonitor2/HWMonitorSMC/en.lproj/Popover.strings -text
hwmonitor2/HWMonitorSMC/en.lproj/Preferences.strings -text
hwmonitor2/HWMonitorSMC/es-419.lproj/DetachableWindow.strings -text
hwmonitor2/HWMonitorSMC/es-419.lproj/Localizable.strings -text
hwmonitor2/HWMonitorSMC/es-419.lproj/Main.strings -text
hwmonitor2/HWMonitorSMC/es-419.lproj/Popover.strings -text
hwmonitor2/HWMonitorSMC/es-419.lproj/Preferences.strings -text
hwmonitor2/HWMonitorSMC/es.lproj/DetachableWindow.strings -text
hwmonitor2/HWMonitorSMC/es.lproj/Localizable.strings -text
hwmonitor2/HWMonitorSMC/es.lproj/Main.strings -text
hwmonitor2/HWMonitorSMC/es.lproj/Popover.strings -text
hwmonitor2/HWMonitorSMC/es.lproj/Preferences.strings -text
hwmonitor2/HWMonitorSMC/fr.lproj/DetachableWindow.storyboard -text
hwmonitor2/HWMonitorSMC/fr.lproj/Localizable.strings -text
hwmonitor2/HWMonitorSMC/fr.lproj/Main.storyboard -text
hwmonitor2/HWMonitorSMC/fr.lproj/Main.strings -text
hwmonitor2/HWMonitorSMC/fr.lproj/Popover.storyboard -text
hwmonitor2/HWMonitorSMC/fr.lproj/Popover.strings -text
hwmonitor2/HWMonitorSMC/fr.lproj/Preferences.storyboard -text
hwmonitor2/HWMonitorSMC/fr.lproj/Preferences.strings -text
hwmonitor2/HWMonitorSMC/globals.swift -text
hwmonitor2/HWMonitorSMC/it.lproj/DetachableWindow.storyboard -text
hwmonitor2/HWMonitorSMC/it.lproj/Localizable.strings -text
hwmonitor2/HWMonitorSMC/it.lproj/Main.strings -text
hwmonitor2/HWMonitorSMC/it.lproj/Popover.storyboard -text
hwmonitor2/HWMonitorSMC/it.lproj/Popover.strings -text
hwmonitor2/HWMonitorSMC/it.lproj/Preferences.strings -text
hwmonitor2/HWMonitorSMC/ja.lproj/DetachableWindow.storyboard -text
hwmonitor2/HWMonitorSMC/ja.lproj/Localizable.strings -text
hwmonitor2/HWMonitorSMC/ja.lproj/Main.storyboard -text
hwmonitor2/HWMonitorSMC/ja.lproj/Main.strings -text
hwmonitor2/HWMonitorSMC/ja.lproj/Popover.storyboard -text
hwmonitor2/HWMonitorSMC/ja.lproj/Popover.strings -text
hwmonitor2/HWMonitorSMC/ja.lproj/Preferences.storyboard -text
hwmonitor2/HWMonitorSMC/ja.lproj/Preferences.strings -text
hwmonitor2/HWMonitorSMC/ko.lproj/DetachableWindow.strings -text
hwmonitor2/HWMonitorSMC/ko.lproj/Localizable.strings -text
hwmonitor2/HWMonitorSMC/ko.lproj/Main.strings -text
hwmonitor2/HWMonitorSMC/ko.lproj/Popover.strings -text
hwmonitor2/HWMonitorSMC/ko.lproj/Preferences.strings -text
hwmonitor2/HWMonitorSMC/nl.lproj/Localizable.strings -text
hwmonitor2/HWMonitorSMC/nl.lproj/Main.strings -text
hwmonitor2/HWMonitorSMC/nl.lproj/Popover.strings -text
hwmonitor2/HWMonitorSMC/nl.lproj/Preferences.strings -text
hwmonitor2/HWMonitorSMC/pl.lproj/Localizable.strings -text
hwmonitor2/HWMonitorSMC/pl.lproj/Main.strings -text
hwmonitor2/HWMonitorSMC/pl.lproj/Popover.strings -text
hwmonitor2/HWMonitorSMC/pl.lproj/Preferences.strings -text
hwmonitor2/HWMonitorSMC/pt-BR.lproj/DetachableWindow.strings -text
hwmonitor2/HWMonitorSMC/pt-BR.lproj/Localizable.strings -text
hwmonitor2/HWMonitorSMC/pt-BR.lproj/Main.strings -text
hwmonitor2/HWMonitorSMC/pt-BR.lproj/Popover.strings -text
hwmonitor2/HWMonitorSMC/pt-BR.lproj/Preferences.strings -text
hwmonitor2/HWMonitorSMC/pt-PT.lproj/Localizable.strings -text
hwmonitor2/HWMonitorSMC/pt-PT.lproj/Main.strings -text
hwmonitor2/HWMonitorSMC/pt-PT.lproj/Popover.strings -text
hwmonitor2/HWMonitorSMC/pt-PT.lproj/Preferences.strings -text
hwmonitor2/HWMonitorSMC/ru.lproj/DetachableWindow.strings -text
hwmonitor2/HWMonitorSMC/ru.lproj/Localizable.strings -text
hwmonitor2/HWMonitorSMC/ru.lproj/Main.strings -text
hwmonitor2/HWMonitorSMC/ru.lproj/Popover.strings -text
hwmonitor2/HWMonitorSMC/ru.lproj/Preferences.strings -text
hwmonitor2/HWMonitorSMC/zh-Hans.lproj/DetachableWindow.storyboard -text
hwmonitor2/HWMonitorSMC/zh-Hans.lproj/Localizable.strings -text
hwmonitor2/HWMonitorSMC/zh-Hans.lproj/Main.storyboard -text
hwmonitor2/HWMonitorSMC/zh-Hans.lproj/Main.strings -text
hwmonitor2/HWMonitorSMC/zh-Hans.lproj/Popover.storyboard -text
hwmonitor2/HWMonitorSMC/zh-Hans.lproj/Popover.strings -text
hwmonitor2/HWMonitorSMC/zh-Hans.lproj/Preferences.storyboard -text
hwmonitor2/HWMonitorSMC/zh-Hans.lproj/Preferences.strings -text
hwmonitor2/HWMonitorSMC/zh-Hant.lproj/DetachableWindow.storyboard -text
hwmonitor2/HWMonitorSMC/zh-Hant.lproj/Localizable.strings -text
hwmonitor2/HWMonitorSMC/zh-Hant.lproj/Main.storyboard -text
hwmonitor2/HWMonitorSMC/zh-Hant.lproj/Main.strings -text
hwmonitor2/HWMonitorSMC/zh-Hant.lproj/Popover.storyboard -text
hwmonitor2/HWMonitorSMC/zh-Hant.lproj/Popover.strings -text
hwmonitor2/HWMonitorSMC/zh-Hant.lproj/Preferences.storyboard -text
hwmonitor2/HWMonitorSMC/zh-Hant.lproj/Preferences.strings -text
hwmonitor2/SystemKit-master/Example/main.swift -text
hwmonitor2/SystemKit-master/LICENSE -text
hwmonitor2/SystemKit-master/README.md -text
hwmonitor2/SystemKit-master/SystemKit.xcodeproj/project.pbxproj -text
hwmonitor2/SystemKit-master/SystemKit.xcodeproj/project.xcworkspace/contents.xcworkspacedata -text
hwmonitor2/SystemKit-master/SystemKit.xcodeproj/xcshareddata/xcschemes/SystemKit.xcscheme -text
hwmonitor2/SystemKit-master/SystemKit/Battery.swift -text
hwmonitor2/SystemKit-master/SystemKit/IOReturn.swift -text
hwmonitor2/SystemKit-master/SystemKit/Info.plist -text
hwmonitor2/SystemKit-master/SystemKit/Process.swift -text
hwmonitor2/SystemKit-master/SystemKit/System.swift -text
hwmonitor2/SystemKit-master/SystemKit/SystemKit.h -text
hwmonitor2/SystemKit-master/SystemKitTests/Info.plist -text
hwmonitor2/SystemKit-master/SystemKitTests/SystemKitTests.swift -text
plugins/ACPIMonitor/ACPIMonitor-Info.plist -text
plugins/ACPIMonitor/ACPIMonitor-pre106-Info.plist -text
plugins/ACPIMonitor/ACPIMonitor.cpp -text
plugins/ACPIMonitor/ACPIMonitor.h -text
plugins/CPUSensors/AmdCPUMonitor/AmdCPUMonitor-Info.plist -text
plugins/CPUSensors/AmdCPUMonitor/AmdCPUMonitor-pre106-Info.plist -text
plugins/CPUSensors/AmdCPUMonitor/AmdCPUMonitor.cpp -text
plugins/CPUSensors/AmdCPUMonitor/AmdCPUMonitor.h -text
plugins/CPUSensors/AmdCPUMonitor/English.lproj/InfoPlist.strings -text
plugins/CPUSensors/IntelCPUMonitor/IntelCPUMonitor-Info.plist -text
plugins/CPUSensors/IntelCPUMonitor/IntelCPUMonitor-pre106-Info.plist -text
plugins/CPUSensors/IntelCPUMonitor/IntelCPUMonitor.cpp -text
plugins/CPUSensors/IntelCPUMonitor/IntelCPUMonitor.h -text
plugins/GPUSensors/GeforceSensors/GeForceSensors-Info.plist -text
plugins/GPUSensors/GeforceSensors/GeForceSensors-Prefix.pch -text
plugins/GPUSensors/GeforceSensors/GeforceSensors.cpp -text
plugins/GPUSensors/GeforceSensors/GeforceSensors.h -text
plugins/GPUSensors/GeforceSensors/adt7473.cpp -text
plugins/GPUSensors/GeforceSensors/f75375.cpp -text
plugins/GPUSensors/GeforceSensors/f75375.h -text
plugins/GPUSensors/GeforceSensors/gm100.cpp -text
plugins/GPUSensors/GeforceSensors/gm100.h -text
plugins/GPUSensors/GeforceSensors/gp100.cpp -text
plugins/GPUSensors/GeforceSensors/gp100.h -text
plugins/GPUSensors/GeforceSensors/i2c_algo_bit.cpp -text
plugins/GPUSensors/GeforceSensors/i2c_algo_bit.h -text
plugins/GPUSensors/GeforceSensors/i2c_base.cpp -text
plugins/GPUSensors/GeforceSensors/i2c_base.h -text
plugins/GPUSensors/GeforceSensors/linux_definitions.h -text
plugins/GPUSensors/GeforceSensors/list.h -text
plugins/GPUSensors/GeforceSensors/lm99.cpp -text
plugins/GPUSensors/GeforceSensors/nouveau.cpp -text
plugins/GPUSensors/GeforceSensors/nouveau.h -text
plugins/GPUSensors/GeforceSensors/nouveau_bios.cpp -text
plugins/GPUSensors/GeforceSensors/nouveau_bios.h -text
plugins/GPUSensors/GeforceSensors/nouveau_definitions.h -text
plugins/GPUSensors/GeforceSensors/nouveau_gpio.cpp -text
plugins/GPUSensors/GeforceSensors/nouveau_gpio.h -text
plugins/GPUSensors/GeforceSensors/nouveau_i2c._base.cpp -text
plugins/GPUSensors/GeforceSensors/nouveau_i2c.h -text
plugins/GPUSensors/GeforceSensors/nouveau_i2c_aux.cpp -text
plugins/GPUSensors/GeforceSensors/nouveau_i2c_bit.cpp -text
plugins/GPUSensors/GeforceSensors/nouveau_therm.cpp -text
plugins/GPUSensors/GeforceSensors/nouveau_therm.h -text
plugins/GPUSensors/GeforceSensors/nouveau_volt.cpp -text
plugins/GPUSensors/GeforceSensors/nouveau_volt.h -text
plugins/GPUSensors/GeforceSensors/nouveau_xpio.cpp -text
plugins/GPUSensors/GeforceSensors/nouveau_xpio.h -text
plugins/GPUSensors/GeforceSensors/nv10.cpp -text
plugins/GPUSensors/GeforceSensors/nv10.h -text
plugins/GPUSensors/GeforceSensors/nv40.cpp -text
plugins/GPUSensors/GeforceSensors/nv40.h -text
plugins/GPUSensors/GeforceSensors/nv50.cpp -text
plugins/GPUSensors/GeforceSensors/nv50.h -text
plugins/GPUSensors/GeforceSensors/nv84.cpp -text
plugins/GPUSensors/GeforceSensors/nv84.h -text
plugins/GPUSensors/GeforceSensors/nva3.cpp -text
plugins/GPUSensors/GeforceSensors/nva3.h -text
plugins/GPUSensors/GeforceSensors/nvc0.cpp -text
plugins/GPUSensors/GeforceSensors/nvc0.h -text
plugins/GPUSensors/GeforceSensors/nvclock_i2c.cpp -text
plugins/GPUSensors/GeforceSensors/nvclock_i2c.h -text
plugins/GPUSensors/GeforceSensors/nvd0.cpp -text
plugins/GPUSensors/GeforceSensors/nvd0.h -text
plugins/GPUSensors/GeforceSensors/nve0.cpp -text
plugins/GPUSensors/GeforceSensors/nve0.h -text
plugins/GPUSensors/GeforceSensors/timer.h -text
plugins/GPUSensors/GeforceSensors/vga.cpp -text
plugins/GPUSensors/GeforceSensors/vga.h -text
plugins/GPUSensors/GeforceSensors/w83781d.cpp -text
plugins/GPUSensors/GeforceSensors/w83l785r.cpp -text
plugins/GPUSensors/GeforceSensors/xf86i2c.cpp -text
plugins/GPUSensors/GeforceSensors/xf86i2c.h -text
plugins/GPUSensors/GeforceSensors/xfree.h -text
plugins/GPUSensors/IntelX3100/X3100-Info.plist -text
plugins/GPUSensors/IntelX3100/X3100-pre106-Info.plist -text
plugins/GPUSensors/IntelX3100/X3100.cpp -text
plugins/GPUSensors/IntelX3100/X3100.h -text
plugins/GPUSensors/NVClockX/NVClock/adt7473.cpp -text
plugins/GPUSensors/NVClockX/NVClock/backend.cpp -text
plugins/GPUSensors/NVClockX/NVClock/backend.h -text
plugins/GPUSensors/NVClockX/NVClock/bios.cpp -text
plugins/GPUSensors/NVClockX/NVClock/error.cpp -text
plugins/GPUSensors/NVClockX/NVClock/f75375.cpp -text
plugins/GPUSensors/NVClockX/NVClock/f75375.h -text
plugins/GPUSensors/NVClockX/NVClock/i2c.cpp -text
plugins/GPUSensors/NVClockX/NVClock/i2c.h -text
plugins/GPUSensors/NVClockX/NVClock/info.cpp -text
plugins/GPUSensors/NVClockX/NVClock/libc_wrapper.cpp -text
plugins/GPUSensors/NVClockX/NVClock/lm99.cpp -text
plugins/GPUSensors/NVClockX/NVClock/nv40.cpp -text
plugins/GPUSensors/NVClockX/NVClock/nv50.cpp -text
plugins/GPUSensors/NVClockX/NVClock/nvclock.h -text
plugins/GPUSensors/NVClockX/NVClock/nvreg.h -text
plugins/GPUSensors/NVClockX/NVClock/overclock.cpp -text
plugins/GPUSensors/NVClockX/NVClock/utils.cpp -text
plugins/GPUSensors/NVClockX/NVClock/w83781d.cpp -text
plugins/GPUSensors/NVClockX/NVClock/w83l785r.cpp -text
plugins/GPUSensors/NVClockX/NVClock/xf86i2c.cpp -text
plugins/GPUSensors/NVClockX/NVClock/xf86i2c.h -text
plugins/GPUSensors/NVClockX/NVClock/xfree.h -text
plugins/GPUSensors/NVClockX/NVClockX-Info.plist -text
plugins/GPUSensors/NVClockX/NVClockX-pre106-info.plist -text
plugins/GPUSensors/NVClockX/NVClockX.cpp -text
plugins/GPUSensors/NVClockX/NVClockX.h -text
plugins/GPUSensors/NVClockX/gpl.txt -text
plugins/GPUSensors/RadeonMonitor/ATICard.cpp -text
plugins/GPUSensors/RadeonMonitor/ATICard.h -text
plugins/GPUSensors/RadeonMonitor/ATI_Device_ID_List_Jun_2010.txt -text
plugins/GPUSensors/RadeonMonitor/Radeon.cpp -text
plugins/GPUSensors/RadeonMonitor/Radeon.h -text
plugins/GPUSensors/RadeonMonitor/RadeonMonitor-Info.plist -text
plugins/GPUSensors/RadeonMonitor/RadeonMonitor-pre106-Info.plist -text
plugins/GPUSensors/RadeonMonitor/atombios.h -text
plugins/GPUSensors/RadeonMonitor/radeon_chipinfo_gen.h -text
plugins/GPUSensors/RadeonMonitor/radeon_chipsets.h -text
plugins/HWInfo/HWInfo-Info.plist -text
plugins/HWInfo/HWInfo-Prefix.pch -text
plugins/HWInfo/HWInfo.cpp -text
plugins/HWInfo/HWInfo.h -text
plugins/HWInfo/en.lproj/InfoPlist.strings -text
plugins/SMBusSensors/ADT7470-Info.plist -text
plugins/SMBusSensors/ADT7470-Prefix.pch -text
plugins/SMBusSensors/ADT7470.cpp -text
plugins/SMBusSensors/ADT7470.h -text
plugins/SMBusSensors/Andigilog-Info.plist -text
plugins/SMBusSensors/Andigilog-Prefix.pch -text
plugins/SMBusSensors/Andigilog.cpp -text
plugins/SMBusSensors/Andigilog.h -text
plugins/SMBusSensors/DIMMSensor/DIMMSensor-Info.plist -text
plugins/SMBusSensors/DIMMSensor/DIMMSensor-Prefix.pch -text
plugins/SMBusSensors/DIMMSensor/DIMMSensor.cpp -text
plugins/SMBusSensors/DIMMSensor/DIMMSensor.h -text
plugins/SMBusSensors/DIMMSensor/en.lproj/InfoPlist.strings -text
plugins/SMBusSensors/I2CCommon.h -text
plugins/SMBusSensors/ICHSMBus-Info.plist -text
plugins/SMBusSensors/ICHSMBus-Prefix.pch -text
plugins/SMBusSensors/ICHSMBus.cpp -text
plugins/SMBusSensors/ICHSMBus.h -text
plugins/SMBusSensors/SMBus.c -text
plugins/SMBusSensors/en.lproj/InfoPlist.strings -text
plugins/SMIMonitor/SMIMonitor-Info.plist -text
plugins/SMIMonitor/SMIMonitor-Prefix.pch -text
plugins/SMIMonitor/SMIMonitor.cpp -text
plugins/SMIMonitor/SMIMonitor.h -text
plugins/SMIMonitor/en.lproj/InfoPlist.strings -text
plugins/SuperIOSensors/Fintek718x/F718x-Info.plist -text
plugins/SuperIOSensors/Fintek718x/F718x-pre106-Info.plist -text
plugins/SuperIOSensors/Fintek718x/F718x.cpp -text
plugins/SuperIOSensors/Fintek718x/F718x.h -text
plugins/SuperIOSensors/ITE87x/ITEIT87x-Info.plist -text
plugins/SuperIOSensors/ITE87x/ITEIT87x-Prefix.pch -text
plugins/SuperIOSensors/ITE87x/ITEIT87x.cpp -text
plugins/SuperIOSensors/ITE87x/ITEIT87x.h -text
plugins/SuperIOSensors/ITE87x/en.lproj/InfoPlist.strings -text
plugins/SuperIOSensors/NSCPC8739x/PC8739x-Info.plist -text
plugins/SuperIOSensors/NSCPC8739x/PC8739x-pre106-Info.plist -text
plugins/SuperIOSensors/NSCPC8739x/PC8739x.cpp -text
plugins/SuperIOSensors/NSCPC8739x/PC8739x.h -text
plugins/SuperIOSensors/SuperIOFamily/SuperIOFamily-Info.plist -text
plugins/SuperIOSensors/SuperIOFamily/SuperIOFamily-pre106-Info.plist -text
plugins/SuperIOSensors/SuperIOFamily/SuperIOFamily.cpp -text
plugins/SuperIOSensors/SuperIOFamily/SuperIOFamily.h -text
plugins/SuperIOSensors/WinbondW836x/WinbondW836x-Info.plist -text
plugins/SuperIOSensors/WinbondW836x/WinbondW836x-Prefix.pch -text
plugins/SuperIOSensors/WinbondW836x/WinbondW836x.cpp -text
plugins/SuperIOSensors/WinbondW836x/WinbondW836x.h -text
plugins/SuperIOSensors/WinbondW836x/en.lproj/InfoPlist.strings -text
plugins/VoodooBattery/English.lproj/InfoPlist.strings -text
plugins/VoodooBattery/FakeSMC.h -text
plugins/VoodooBattery/Info.plist -text
plugins/VoodooBattery/Support.h -text
plugins/VoodooBattery/VoodooBattery.cpp -text
plugins/VoodooBattery/VoodooBattery.h -text
utils/Cpuid.c -text
utils/TigerAdditionals.cpp -text
utils/TigerAdditionals.h -text
utils/cpuid.h -text
utils/definitions.h -text
utils/utils.h -text
