* text=auto !eol
HWSensors-6.xcodeproj/project.pbxproj -text
HWSensors-6.xcodeproj/project.xcworkspace/contents.xcworkspacedata -text
HWSensors-6.xcodeproj/project.xcworkspace/xcuserdata/slice.xcuserdatad/UserInterfaceState.xcuserstate -text
HWSensors-6.xcodeproj/xcshareddata/xcshcemes/ACPIMonitor.xcscheme -text
HWSensors-6.xcodeproj/xcshareddata/xcshcemes/ADT7470.xcscheme -text
HWSensors-6.xcodeproj/xcshareddata/xcshcemes/AmdCPUMonitor.xcscheme -text
HWSensors-6.xcodeproj/xcshareddata/xcshcemes/Andigilog.xcscheme -text
HWSensors-6.xcodeproj/xcshareddata/xcshcemes/F718x.xcscheme -text
HWSensors-6.xcodeproj/xcshareddata/xcshcemes/FakeSMC.xcscheme -text
HWSensors-6.xcodeproj/xcshareddata/xcshcemes/GeforceSensor.xcscheme -text
HWSensors-6.xcodeproj/xcshareddata/xcshcemes/HWInfo.xcscheme -text
HWSensors-6.xcodeproj/xcshareddata/xcshcemes/ICHSMBus.xcscheme -text
HWSensors-6.xcodeproj/xcshareddata/xcshcemes/IT87x.xcscheme -text
HWSensors-6.xcodeproj/xcshareddata/xcshcemes/IntelCPUMonitor.xcscheme -text
HWSensors-6.xcodeproj/xcshareddata/xcshcemes/NVClockX.xcscheme -text
HWSensors-6.xcodeproj/xcshareddata/xcshcemes/PC8739x.xcscheme -text
HWSensors-6.xcodeproj/xcshareddata/xcshcemes/RadeonMonitor.xcscheme -text
HWSensors-6.xcodeproj/xcshareddata/xcshcemes/SMIMonitor.xcscheme -text
HWSensors-6.xcodeproj/xcshareddata/xcshcemes/W836x.xcscheme -text
HWSensors-6.xcodeproj/xcshareddata/xcshcemes/X3100.xcscheme -text
HWSensors-6.xcodeproj/xcshareddata/xcshcemes/xcschememanagement.plist -text
HWSensors-6.xcodeproj/xcuserdata/slice.xcuserdatad/xcschemes/ACPIMonitor.xcscheme -text
HWSensors-6.xcodeproj/xcuserdata/slice.xcuserdatad/xcschemes/ADT7470.xcscheme -text
HWSensors-6.xcodeproj/xcuserdata/slice.xcuserdatad/xcschemes/AmdCPUMonitor.xcscheme -text
HWSensors-6.xcodeproj/xcuserdata/slice.xcuserdatad/xcschemes/Andigilog.xcscheme -text
HWSensors-6.xcodeproj/xcuserdata/slice.xcuserdatad/xcschemes/F718x.xcscheme -text
HWSensors-6.xcodeproj/xcuserdata/slice.xcuserdatad/xcschemes/FakeSMC.xcscheme -text
HWSensors-6.xcodeproj/xcuserdata/slice.xcuserdatad/xcschemes/GeforceSensor.xcscheme -text
HWSensors-6.xcodeproj/xcuserdata/slice.xcuserdatad/xcschemes/HWInfo.xcscheme -text
HWSensors-6.xcodeproj/xcuserdata/slice.xcuserdatad/xcschemes/ICHSMBus.xcscheme -text
HWSensors-6.xcodeproj/xcuserdata/slice.xcuserdatad/xcschemes/IT87x.xcscheme -text
HWSensors-6.xcodeproj/xcuserdata/slice.xcuserdatad/xcschemes/IntelCPUMonitor.xcscheme -text
HWSensors-6.xcodeproj/xcuserdata/slice.xcuserdatad/xcschemes/NVClockX.xcscheme -text
HWSensors-6.xcodeproj/xcuserdata/slice.xcuserdatad/xcschemes/PC8739x.xcscheme -text
HWSensors-6.xcodeproj/xcuserdata/slice.xcuserdatad/xcschemes/RadeonMonitor.xcscheme -text
HWSensors-6.xcodeproj/xcuserdata/slice.xcuserdatad/xcschemes/SMIMonitor.xcscheme -text
HWSensors-6.xcodeproj/xcuserdata/slice.xcuserdatad/xcschemes/W836x.xcscheme -text
HWSensors-6.xcodeproj/xcuserdata/slice.xcuserdatad/xcschemes/X3100.xcscheme -text
HWSensors-6.xcodeproj/xcuserdata/slice.xcuserdatad/xcschemes/xcschememanagement.plist -text
HWSensors.xcodeproj/project.pbxproj -text
HWSensors.xcodeproj/project.xcworkspace/contents.xcworkspacedata -text
HWSensors.xcodeproj/project.xcworkspace/xcuserdata/slice.xcuserdatad/UserInterfaceState.xcuserstate -text
HWSensors.xcodeproj/xcshareddata/xcshcemes/ACPIMonitor.xcscheme -text
HWSensors.xcodeproj/xcshareddata/xcshcemes/ADT7470.xcscheme -text
HWSensors.xcodeproj/xcshareddata/xcshcemes/AmdCPUMonitor.xcscheme -text
HWSensors.xcodeproj/xcshareddata/xcshcemes/Andigilog.xcscheme -text
HWSensors.xcodeproj/xcshareddata/xcshcemes/F718x.xcscheme -text
HWSensors.xcodeproj/xcshareddata/xcshcemes/FakeSMC.xcscheme -text
HWSensors.xcodeproj/xcshareddata/xcshcemes/GeforceSensor.xcscheme -text
HWSensors.xcodeproj/xcshareddata/xcshcemes/HWInfo.xcscheme -text
HWSensors.xcodeproj/xcshareddata/xcshcemes/ICHSMBus.xcscheme -text
HWSensors.xcodeproj/xcshareddata/xcshcemes/IT87x.xcscheme -text
HWSensors.xcodeproj/xcshareddata/xcshcemes/IntelCPUMonitor.xcscheme -text
HWSensors.xcodeproj/xcshareddata/xcshcemes/NVClockX.xcscheme -text
HWSensors.xcodeproj/xcshareddata/xcshcemes/PC8739x.xcscheme -text
HWSensors.xcodeproj/xcshareddata/xcshcemes/RadeonMonitor.xcscheme -text
HWSensors.xcodeproj/xcshareddata/xcshcemes/SMIMonitor.xcscheme -text
HWSensors.xcodeproj/xcshareddata/xcshcemes/W836x.xcscheme -text
HWSensors.xcodeproj/xcshareddata/xcshcemes/X3100.xcscheme -text
HWSensors.xcodeproj/xcshareddata/xcshcemes/xcschememanagement.plist -text
fakesmc/FakeSMC-Info.plist -text
fakesmc/FakeSMC-pre106-info.plist -text
fakesmc/FakeSMC.cpp -text
fakesmc/FakeSMC.h -text
fakesmc/FakeSMCDevice.cpp -text
fakesmc/FakeSMCDevice.h -text
fakesmc/FakeSMCKey.cpp -text
fakesmc/FakeSMCKey.h -text
hwmonitor/AppDelegate.h -text
hwmonitor/AppDelegate.m -text
hwmonitor/English.lproj/Credits.rtf -text
hwmonitor/English.lproj/InfoPlist.strings -text
hwmonitor/English.lproj/Localizable.strings -text
hwmonitor/English.lproj/MainMenu.xib -text
hwmonitor/English.lproj/default.icns -text
hwmonitor/HWMonitorSMC-Info.plist -text
hwmonitor/HWMonitorSMC.xcodeproj/project.pbxproj -text
hwmonitor/HWMonitorSMC.xcodeproj/project.xcworkspace/contents.xcworkspacedata -text
hwmonitor/HWMonitorSMC.xcodeproj/project.xcworkspace/xcuserdata/slice.xcuserdatad/UserInterfaceState.xcuserstate -text
hwmonitor/HWMonitorSMC.xcodeproj/xcshareddata/xcschemes/HWMonitorSMC.xcscheme -text
hwmonitor/HWMonitorSMC.xcodeproj/xcshareddata/xcschemes/xcschememanagement.plist -text
hwmonitor/HWMonitorSMC_Prefix.pch -text
hwmonitor/HWMonitorSensor.h -text
hwmonitor/HWMonitorSensor.m -text
hwmonitor/IOBatteryStatus.h -text
hwmonitor/IOBatteryStatus.m -text
hwmonitor/ISPSmartController.h -text
hwmonitor/ISPSmartController.m -text
hwmonitor/NSString+TruncateToWidth.h -text
hwmonitor/NSString+TruncateToWidth.m -text
hwmonitor/default.icns -text
hwmonitor/fan_small.png -text
hwmonitor/freq_small.png -text
hwmonitor/hd_small.png -text
hwmonitor/main.m -text
hwmonitor/modern-battery-icon.png -text
hwmonitor/monitor-icon.icns -text
hwmonitor/monitor_icon_small.png -text
hwmonitor/multiply_small.png -text
hwmonitor/ru.lproj/Localizable.strings -text
hwmonitor/ru.lproj/MainMenu.xib -text
hwmonitor/smc.c -text
hwmonitor/smc.h -text
hwmonitor/temp_alt_small.png -text
hwmonitor/temperature_small.png -text
hwmonitor/temperature_small_grey.png -text
hwmonitor/voltage_small.png -text
plugins/ACPIMonitor/ACPIMonitor-Info.plist -text
plugins/ACPIMonitor/ACPIMonitor-pre106-Info.plist -text
plugins/ACPIMonitor/ACPIMonitor.cpp -text
plugins/ACPIMonitor/ACPIMonitor.h -text
plugins/CPUSensors/AmdCPUMonitor/AmdCPUMonitor-Info.plist -text
plugins/CPUSensors/AmdCPUMonitor/AmdCPUMonitor-pre106-Info.plist -text
plugins/CPUSensors/AmdCPUMonitor/AmdCPUMonitor.cpp -text
plugins/CPUSensors/AmdCPUMonitor/AmdCPUMonitor.h -text
plugins/CPUSensors/AmdCPUMonitor/English.lproj/InfoPlist.strings -text
plugins/CPUSensors/IntelCPUMonitor/IntelCPUMonitor-Info.plist -text
plugins/CPUSensors/IntelCPUMonitor/IntelCPUMonitor-pre106-Info.plist -text
plugins/CPUSensors/IntelCPUMonitor/IntelCPUMonitor.cpp -text
plugins/CPUSensors/IntelCPUMonitor/IntelCPUMonitor.h -text
plugins/GPUSensors/GeforceSensors/GeForceSensors-Info.plist -text
plugins/GPUSensors/GeforceSensors/GeForceSensors-Prefix.pch -text
plugins/GPUSensors/GeforceSensors/GeforceSensors.cpp -text
plugins/GPUSensors/GeforceSensors/GeforceSensors.h -text
plugins/GPUSensors/GeforceSensors/adt7473.cpp -text
plugins/GPUSensors/GeforceSensors/f75375.cpp -text
plugins/GPUSensors/GeforceSensors/f75375.h -text
plugins/GPUSensors/GeforceSensors/gm100.cpp -text
plugins/GPUSensors/GeforceSensors/gm100.h -text
plugins/GPUSensors/GeforceSensors/i2c_algo_bit.cpp -text
plugins/GPUSensors/GeforceSensors/i2c_algo_bit.h -text
plugins/GPUSensors/GeforceSensors/i2c_base.cpp -text
plugins/GPUSensors/GeforceSensors/i2c_base.h -text
plugins/GPUSensors/GeforceSensors/linux_definitions.h -text
plugins/GPUSensors/GeforceSensors/list.h -text
plugins/GPUSensors/GeforceSensors/lm99.cpp -text
plugins/GPUSensors/GeforceSensors/nouveau.cpp -text
plugins/GPUSensors/GeforceSensors/nouveau.h -text
plugins/GPUSensors/GeforceSensors/nouveau_bios.cpp -text
plugins/GPUSensors/GeforceSensors/nouveau_bios.h -text
plugins/GPUSensors/GeforceSensors/nouveau_definitions.h -text
plugins/GPUSensors/GeforceSensors/nouveau_gpio.cpp -text
plugins/GPUSensors/GeforceSensors/nouveau_gpio.h -text
plugins/GPUSensors/GeforceSensors/nouveau_i2c._base.cpp -text
plugins/GPUSensors/GeforceSensors/nouveau_i2c.h -text
plugins/GPUSensors/GeforceSensors/nouveau_i2c_aux.cpp -text
plugins/GPUSensors/GeforceSensors/nouveau_i2c_bit.cpp -text
plugins/GPUSensors/GeforceSensors/nouveau_therm.cpp -text
plugins/GPUSensors/GeforceSensors/nouveau_therm.h -text
plugins/GPUSensors/GeforceSensors/nouveau_volt.cpp -text
plugins/GPUSensors/GeforceSensors/nouveau_volt.h -text
plugins/GPUSensors/GeforceSensors/nouveau_xpio.cpp -text
plugins/GPUSensors/GeforceSensors/nouveau_xpio.h -text
plugins/GPUSensors/GeforceSensors/nv10.cpp -text
plugins/GPUSensors/GeforceSensors/nv10.h -text
plugins/GPUSensors/GeforceSensors/nv40.cpp -text
plugins/GPUSensors/GeforceSensors/nv40.h -text
plugins/GPUSensors/GeforceSensors/nv50.cpp -text
plugins/GPUSensors/GeforceSensors/nv50.h -text
plugins/GPUSensors/GeforceSensors/nv84.cpp -text
plugins/GPUSensors/GeforceSensors/nv84.h -text
plugins/GPUSensors/GeforceSensors/nva3.cpp -text
plugins/GPUSensors/GeforceSensors/nva3.h -text
plugins/GPUSensors/GeforceSensors/nvc0.cpp -text
plugins/GPUSensors/GeforceSensors/nvc0.h -text
plugins/GPUSensors/GeforceSensors/nvclock_i2c.cpp -text
plugins/GPUSensors/GeforceSensors/nvclock_i2c.h -text
plugins/GPUSensors/GeforceSensors/nvd0.cpp -text
plugins/GPUSensors/GeforceSensors/nvd0.h -text
plugins/GPUSensors/GeforceSensors/nve0.cpp -text
plugins/GPUSensors/GeforceSensors/nve0.h -text
plugins/GPUSensors/GeforceSensors/timer.h -text
plugins/GPUSensors/GeforceSensors/vga.cpp -text
plugins/GPUSensors/GeforceSensors/vga.h -text
plugins/GPUSensors/GeforceSensors/w83781d.cpp -text
plugins/GPUSensors/GeforceSensors/w83l785r.cpp -text
plugins/GPUSensors/GeforceSensors/xf86i2c.cpp -text
plugins/GPUSensors/GeforceSensors/xf86i2c.h -text
plugins/GPUSensors/GeforceSensors/xfree.h -text
plugins/GPUSensors/IntelX3100/X3100-Info.plist -text
plugins/GPUSensors/IntelX3100/X3100-pre106-Info.plist -text
plugins/GPUSensors/IntelX3100/X3100.cpp -text
plugins/GPUSensors/IntelX3100/X3100.h -text
plugins/GPUSensors/NVClockX/NVClock/adt7473.cpp -text
plugins/GPUSensors/NVClockX/NVClock/backend.cpp -text
plugins/GPUSensors/NVClockX/NVClock/backend.h -text
plugins/GPUSensors/NVClockX/NVClock/bios.cpp -text
plugins/GPUSensors/NVClockX/NVClock/error.cpp -text
plugins/GPUSensors/NVClockX/NVClock/f75375.cpp -text
plugins/GPUSensors/NVClockX/NVClock/f75375.h -text
plugins/GPUSensors/NVClockX/NVClock/i2c.cpp -text
plugins/GPUSensors/NVClockX/NVClock/i2c.h -text
plugins/GPUSensors/NVClockX/NVClock/info.cpp -text
plugins/GPUSensors/NVClockX/NVClock/libc_wrapper.cpp -text
plugins/GPUSensors/NVClockX/NVClock/lm99.cpp -text
plugins/GPUSensors/NVClockX/NVClock/nv40.cpp -text
plugins/GPUSensors/NVClockX/NVClock/nv50.cpp -text
plugins/GPUSensors/NVClockX/NVClock/nvclock.h -text
plugins/GPUSensors/NVClockX/NVClock/nvreg.h -text
plugins/GPUSensors/NVClockX/NVClock/overclock.cpp -text
plugins/GPUSensors/NVClockX/NVClock/utils.cpp -text
plugins/GPUSensors/NVClockX/NVClock/w83781d.cpp -text
plugins/GPUSensors/NVClockX/NVClock/w83l785r.cpp -text
plugins/GPUSensors/NVClockX/NVClock/xf86i2c.cpp -text
plugins/GPUSensors/NVClockX/NVClock/xf86i2c.h -text
plugins/GPUSensors/NVClockX/NVClock/xfree.h -text
plugins/GPUSensors/NVClockX/NVClockX-Info.plist -text
plugins/GPUSensors/NVClockX/NVClockX-pre106-info.plist -text
plugins/GPUSensors/NVClockX/NVClockX.cpp -text
plugins/GPUSensors/NVClockX/NVClockX.h -text
plugins/GPUSensors/NVClockX/gpl.txt -text
plugins/GPUSensors/RadeonMonitor/ATICard.cpp -text
plugins/GPUSensors/RadeonMonitor/ATICard.h -text
plugins/GPUSensors/RadeonMonitor/ATI_Device_ID_List_Jun_2010.txt -text
plugins/GPUSensors/RadeonMonitor/Radeon.cpp -text
plugins/GPUSensors/RadeonMonitor/Radeon.h -text
plugins/GPUSensors/RadeonMonitor/RadeonMonitor-Info.plist -text
plugins/GPUSensors/RadeonMonitor/RadeonMonitor-pre106-Info.plist -text
plugins/GPUSensors/RadeonMonitor/atombios.h -text
plugins/GPUSensors/RadeonMonitor/radeon_chipinfo_gen.h -text
plugins/GPUSensors/RadeonMonitor/radeon_chipsets.h -text
plugins/HWInfo/HWInfo-Info.plist -text
plugins/HWInfo/HWInfo-Prefix.pch -text
plugins/HWInfo/HWInfo.cpp -text
plugins/HWInfo/HWInfo.h -text
plugins/HWInfo/en.lproj/InfoPlist.strings -text
plugins/SMBusSensors/ADT7470-Info.plist -text
plugins/SMBusSensors/ADT7470-Prefix.pch -text
plugins/SMBusSensors/ADT7470.cpp -text
plugins/SMBusSensors/ADT7470.h -text
plugins/SMBusSensors/Andigilog-Info.plist -text
plugins/SMBusSensors/Andigilog-Prefix.pch -text
plugins/SMBusSensors/Andigilog.cpp -text
plugins/SMBusSensors/Andigilog.h -text
plugins/SMBusSensors/I2CCommon.h -text
plugins/SMBusSensors/ICHSMBus-Info.plist -text
plugins/SMBusSensors/ICHSMBus-Prefix.pch -text
plugins/SMBusSensors/ICHSMBus.cpp -text
plugins/SMBusSensors/ICHSMBus.h -text
plugins/SMBusSensors/SMBus.c -text
plugins/SMBusSensors/en.lproj/InfoPlist.strings -text
plugins/SMIMonitor/SMIMonitor-Info.plist -text
plugins/SMIMonitor/SMIMonitor-Prefix.pch -text
plugins/SMIMonitor/SMIMonitor.cpp -text
plugins/SMIMonitor/SMIMonitor.h -text
plugins/SMIMonitor/en.lproj/InfoPlist.strings -text
plugins/SuperIOSensors/Fintek718x/F718x-Info.plist -text
plugins/SuperIOSensors/Fintek718x/F718x-pre106-Info.plist -text
plugins/SuperIOSensors/Fintek718x/F718x.cpp -text
plugins/SuperIOSensors/Fintek718x/F718x.h -text
plugins/SuperIOSensors/ITE87x/ITEIT87x-Info.plist -text
plugins/SuperIOSensors/ITE87x/ITEIT87x-Prefix.pch -text
plugins/SuperIOSensors/ITE87x/ITEIT87x.cpp -text
plugins/SuperIOSensors/ITE87x/ITEIT87x.h -text
plugins/SuperIOSensors/ITE87x/en.lproj/InfoPlist.strings -text
plugins/SuperIOSensors/NSCPC8739x/PC8739x-Info.plist -text
plugins/SuperIOSensors/NSCPC8739x/PC8739x-pre106-Info.plist -text
plugins/SuperIOSensors/NSCPC8739x/PC8739x.cpp -text
plugins/SuperIOSensors/NSCPC8739x/PC8739x.h -text
plugins/SuperIOSensors/SuperIOFamily/SuperIOFamily-Info.plist -text
plugins/SuperIOSensors/SuperIOFamily/SuperIOFamily-pre106-Info.plist -text
plugins/SuperIOSensors/SuperIOFamily/SuperIOFamily.cpp -text
plugins/SuperIOSensors/SuperIOFamily/SuperIOFamily.h -text
plugins/SuperIOSensors/WinbondW836x/WinbondW836x-Info.plist -text
plugins/SuperIOSensors/WinbondW836x/WinbondW836x-Prefix.pch -text
plugins/SuperIOSensors/WinbondW836x/WinbondW836x.cpp -text
plugins/SuperIOSensors/WinbondW836x/WinbondW836x.h -text
plugins/SuperIOSensors/WinbondW836x/en.lproj/InfoPlist.strings -text
utils/Cpuid.c -text
utils/TigerAdditionals.cpp -text
utils/TigerAdditionals.h -text
utils/cpuid.h -text
utils/definitions.h -text
utils/utils.h -text
